{% extends 'layout.html' %}

{% block content %}
{% if user %}
 <p><a href="/23andme/logout">Logout</a><p>

 {% for profile in user.profiles %}
  <h2>{{ profile.first_name }} {{ profile.last_name }}</h2>

  <a class="zip" href="/23andme/data/{{ profile.id }}/zip"
   data-profile-id="{{ profile.id }}">Generate a zip file</a>

  <span class="generating" style="display: none;">Generating...</span>

  <h3>Health</h3>

  <ul>
   <li>
    Risks
    <a href="/23andme/data/risks/{{ profile.id }}">CSV</a>
    <a href="/23andme/data/risks/{{ profile.id }}/json">JSON</a>
   </li>
   <li>
    Carriers
    <a href="/23andme/data/carriers/{{ profile.id }}">CSV</a>
    <a href="/23andme/data/carriers/{{ profile.id }}/json">JSON</a>
   </li>
   <li>
    Drug Responses
    <a href="/23andme/data/drug_responses/{{ profile.id }}">CSV</a>
    <a href="/23andme/data/drug_responses/{{ profile.id }}/json">JSON</a>
   </li>
   <li>
    Traits
    <a href="/23andme/data/traits/{{ profile.id }}">CSV</a>
    <a href="/23andme/data/traits/{{ profile.id }}/json">JSON</a>
   </li>
  </ul>

  <h3>Ancestry</h3>

  <ul>
   <li>
    Haplogroups
    <a href="/23andme/data/haplogroups/{{ profile.id }}/json">JSON</a>
   </li>
   <li>
    Ancestry
    <a href="/23andme/data/ancestry/{{ profile.id }}/json">JSON</a>
   </li>
   <li>
    Neanderthal
    <a href="/23andme/data/neanderthal/{{ profile.id }}/json">JSON</a>
   </li>
  </ul>
 {% endfor %}
{% else %}
 <a href="/23andme/auth">Login</a>
{% endif %}

<hr>

<a href="https://github.com/beaugunderson/node-23andme-export">Fork me on
 GitHub!</a>
{% endblock %}
