<!doctype html>
<html>
 <head>
  <meta charset="utf-8">

  <title>{% block title %}23andMe Export{% endblock %}</title>

  <script src="/23andme/bower/jquery/jquery.min.js"></script>
  <script src="/23andme/bower/async/lib/async.js"></script>
  <script src="/23andme/bower/jszip/jszip.min.js"></script>

  <script src="/23andme/js/23andme.js"></script>

  <link rel="stylesheet" href="/23andme/css/23andme.css">

  {% block extra_head %}{% endblock %}
 </head>
 <body>
  {% block content %}{% endblock %}
 </body>
</html>
